{% extends "votacao/index.html" %}
{% block nav %}
    <a class="butao" href="https://www.iscte-iul.pt/">Site ISCTE</a>
    <a class="butao" href="{% url 'votacao:index' %}">Index</a>
{% endblock %}
{% block conteudo %}
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}
<form action="{% url 'votacao:createquestion' %}" method="post">
    {% csrf_token %}
    <label for="questaotexto">Texto da nova Questão:</label>
    <input type="text" id="questaotexto" name="questaotexto"><br><br>
    <input type="submit" value="Gravar nova Questão">
</form>
{% endblock %}
{% block opcoes_e_controlos %}
{% endblock %}