{% extends "votacao/index.html" %}
{% block nav %}
    <a class="butao" href="https://www.iscte-iul.pt/">Site ISCTE</a>
    <a class="butao" href="{% url 'votacao:index' %}">Index</a>
{% endblock %}
{% block conteudo %}
{% load static %}
    <form method="post" enctype="multipart/form-data" action="{% url 'votacao:fazer_upload' %}">
        {% csrf_token %}
        <input type="file" name="myfile">
        <input type="submit" value="Upload">
    </form>
    {% if uploaded_file_url %}
    <p>Feito o upload para:
    <a href="{{ uploaded_file_url }}"> {{ uploaded_file_url }} </a>
    </p>
    {% endif %}
{% endblock %}
{% block opcoes_e_controlos %}
{% endblock %}