
{% load static %}
<link rel="stylesheet" type="text/css"
href="{% static 'votacao/style.css' %}" />

<header>
    <p>olá</p>
    <div class="fixed">
    {% if request.user.is_authenticated %}
    <p>{{request.user.username}}</p>
    {% if not request.user.is_superuser %}
    <p>Número total de votos realizados: {{request.user.aluno.votos}}</p>
    {% endif %}
    <a href="{% url 'votacao:logout_view' %}">Logout</a>
    <br><br>
    <a href="{% url 'votacao:user_view' %}">Ver conta</a>
    {% else %}
    <p>Utilizador Anónimo</p>
    <a href="{% url 'votacao:logar' %}">Login</a>
    {% endif %}
</div>
</header>
<nav>

</nav>
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

{% if latest_question_list %}
<ul>
    {% for questao in latest_question_list %}
    <li>
        <a href="{% url 'votacao:detalhe' questao.id %}">
            {{ questao.questao_texto }}
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Nao ha questoes disponiveis.</p>
{% endif %}
{% if request.user.is_superuser %}
<a href="{% url 'votacao:criarquestao' %}">Criar nova Questão</a>
{% endif %}
<br><br>