{% load static %}
<link rel="stylesheet" type="text/css"
      href="{% static 'votacao/style.css' %}"/>

<div class="grid-container">
    <header>
        <h3>LEI - Question Simulator</h3>
        <article class="login">
            {% if request.user.is_authenticated %}
            <p>{{request.user.username}}
            {% if not request.user.is_superuser %}
            <img src="{{request.user.aluno.foto_perfil}}" width="50" height="50" ></p>
            <p>Número total de votos realizados: {{request.user.aluno.votos}}</p>
            {% endif %}
            <a class="butao" href="{% url 'votacao:logout_view' %}">Logout</a>
            <br><br>
            <a class="butao" href="{% url 'votacao:user_view' %}">Ver conta</a>
            {% else %}
            <p>Utilizador Anónimo</p>
            <a class="butao" href="{% url 'votacao:logar' %}">Login</a>
            {% endif %}
        </article>
    </header>
    <nav>
        {% block nav %}
        <a class="butao" href="https://www.iscte-iul.pt/">Site ISCTE</a>
        {% endblock %}
    </nav>

    <section class="left" style="background-color:#aaa;"></section>
    <section class="middle" style="background-color:#bbb;">
        {% block conteudo %}
            {% if latest_question_list %}
            <ul>
                {% for questao in latest_question_list %}
                <li>
                    <a href="{% url 'votacao:detalhe' questao.id %}">
                        {{ questao.questao_texto }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Nao ha questoes disponiveis.</p>
            {% endif %}
        {% endblock %}
        {% block opcoes_e_controlos %}
            {% if request.user.is_superuser %}
            <a class="butao" href="{% url 'votacao:criarquestao' %}">Criar nova Questão</a>
            {% endif %}
        {% endblock %}
    </section>
    <section class="right" style="background-color:#ccc;"></section>
    <footer>
    </footer>
</div>