<header style="text-align:center;">

		<h1>LEI - Question Simulator - Login</h1>
</header>
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}
{% if request.user.is_authenticated %}
<a href="{% url 'votacao:logout_view' %}">Logout</a>
<br>
<a href="{% url 'votacao:user_view' %}">Ver conta</a>
<br><br>
{% else %}
<form action="{% url 'votacao:logar' %}" method="post">
    {% csrf_token %}
    <label for="username">Introduza o seu nome:</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">Introduza a sua password:</label>
    <input type="password" id="password" name="password"><br><br>

	<input type="submit" value="Login">
</form>
<a href="{% url 'votacao:registar' %}">Registar</a>
<br>
{% endif %}
<a href="{% url 'votacao:index' %}">Index</a>
<br>

