<header style="text-align:center;">

		<h1>LEI - Question Simulator - Login</h1>
</header>
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'votacao:logar' %}" method="post">
    {% csrf_token %}
    <label for="username">Introduza o seu nome:</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">Introduza a sua password:</label>
    <input type="text" id="password" name="password"><br><br>

	<input type="submit" value="Login">
</form>

