<!--<h1>LEI - Question Simulator - Login</h1>-->

{% extends "votacao/index.html" %}
{% block conteudo %}
<h2>Detalhes de conta</h2>
{% if request.user.is_authenticated %}
    <p>Username: {{request.user.username}}</p>
    <p>Email: {{request.user.email}}</p>
    <a href="{% url 'votacao:fazer_upload' %}">Insira uma Foto no seu perfil aqui</a>
    {% if request.user.is_superuser %}
        <p>Super user</p>
    {% else %}
        <p>Aluno do curso: {{request.user.aluno.curso}}</p>
        <p>Número total de votos realizados: {{request.user.aluno.votos}}</p>
    {% endif %}
{% else %}
    <p>O utilizador não está logado</p>
    <a href="{% url 'votacao:logar' %}">Login</a><br><br>
{% endif %}
{% endblock %}
{% block opcoes_e_controlos %}
<a href="{% url 'votacao:index' %}">Index</a>
{% endblock %}