* {
  box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: white url("images/edificio_1_patio.jpg");
}
header {
  grid-area: header;
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  border: 2px solid black;
  background-image: url("../votacao/images/head.jpg");
  background-repeat: no-repeat;
  background-size: cover;


}

nav {
    grid-area: nav;
    /*padding: 10px;*/
    text-align: center;
    background-color: rgba(0, 189, 255, 0.33);
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'nav nav nav nav nav nav'
    'left middle middle middle middle right'
    'footer footer footer footer footer footer';
}

section {
  padding: 10px;
}
section.left {
  grid-area: left;
}
section.middle {
  text-align: center;
  grid-area: middle;
}
section.right {
  grid-area: right;
}
footer {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 40px;
  text-align: center;
}
article.login {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 20px;
    right: 20px;
    width: 300px;
    border-style: solid;
}

/*a{*/
/*  color: blue;*/
/*}*/



a.butao:link, a:visited {
    background-color: rgb(0, 189, 255);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.butao:hover, a:active {
    background-color: rgba(0, 183, 255, 0.51);
    color: white;
}